In [1]:
import os
import pandas as pd

In [2]:
cwd = os.getcwd()

In [76]:
data_dir = os.path.join(cwd,'data')
cache_dir = os.path.join(cwd,'cache')
os.makedirs(cache_dir,exist_ok=True)

In [4]:
for filename in os.listdir(data_dir):
    print(filename)

2000.csv
2001.csv
2002.csv
2003.csv
2004.csv
2005.csv
2010.csv
2011.csv
2012.csv
2013.csv
2014.csv
2015.csv
2016.csv
2017.csv
2018.csv
2019.csv
2020.csv

In [5]:
df = pd.read_csv(os.path.join(data_dir,'2010.csv'))

In [12]:
df['Year'] = 2010

In [36]:
#my_entire_df = pd.DataFrame()

my_df = []
csv_files = [x for x in os.listdir(data_dir) if x.endswith(".csv")]
for filename in csv_files:
    #print(filename)
    year = filename.replace(".csv","")
    csv_path = os.path.join(data_dir,filename)
    this_df = pd.read_csv(csv_path)
    this_df['filename'] = filename
    this_df['year'] = year
    my_df.append(this_df)

In [68]:
entire_df = pd.concat(my_df) # concat list to dataframe

In [74]:
entire_df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year
0,1,Mission: Impossible II,"$546,388,108","$215,409,889",39.4%,"$330,978,219",60.6%,2000.csv,2000
1,2,Gladiator,"$460,583,960","$187,705,427",40.8%,"$272,878,533",59.2%,2000.csv,2000
2,3,Cast Away,"$429,632,142","$233,632,142",54.4%,"$196,000,000",45.6%,2000.csv,2000
3,4,What Women Want,"$374,111,707","$182,811,707",48.9%,"$191,300,000",51.1%,2000.csv,2000
4,5,Dinosaur,"$349,822,765","$137,748,063",39.4%,"$212,074,702",60.6%,2000.csv,2000

In [77]:
dataset = os.path.join(cache_dir,'movies-box-office-dataset.csv')
entire_df.to_csv(dataset,index=False)